.table {
    /* display: grid; */
    background-color: rgb(162, 162, 162);
    /* gap: 2px; */

    width: 900px;
}

.table__head {
    background-color: rgb(194, 235, 255);
    /* width: 100%; */
}

.table__row {
    /* width: 100%; */
}

.table__data {
    background-color: rgb(225, 245, 255);
    /* width: 100%; */
}

.table__button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgb(141, 141, 141);
    outline: none;
    background: #daecff;
    transition: 0.3s;
}

.table__button:hover {
    background: linear-gradient(#daecff 30%, #b9d9fc);
    transition: 0.3s;
}